<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(117, 197, 197, 0.5);">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Početna
                    <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <app-logout></app-logout>
    </div>
</nav>
<div class="container text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div style="width:900px; margin:10px;">
            <mat-tab-group dynamicHeight class="example-stretched-tabs mat-elevation-z4">
                <mat-tab label="Podaci o klinici ">
                    <div class="example-large-box mat-elevation-z4">
                        <form class="example-form" style="margin: 10px;">
                            Naziv:
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="clinic.name" name="naziv">
                            </mat-form-field>
                            Opis:
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="clinic.description" name="opis">
                            </mat-form-field>
                            Adresa:
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="clinic.address" name="adresa" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="clinic.lat" disabled="true" name="lat">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="clinic.longitude" disabled="true" name="long">
                            </mat-form-field>
                           
                            <div style="text-align:center;">
                                <button style="width: 150px;" class="button button2" (click)="modifyClinic()">Sačuvaj
                                    izmene</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Cenovnik">
                    <div class="example-large-box mat-elevation-z4">
                        <table class="table table-striped table-hover table-bordered">
                            <thead style="background-color:rgb(117, 197, 197, 0.5);">
                                <tr>
                                    <th>Cena</th>
                                    <th>Naziv</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let price of priceList">
                                    <td>{{price.price}}</td>
                                    <td>{{price.appointmentType.name}}</td>
                                    <td><button class="btn btn-success" style="font-size: 13px; "
                                            (click)="openDialog(price)">Izmeni</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row">
        <div id="map" class="map"></div>
    </div>
</div>
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <b>Nikola Livada, Stefan Bugarinović, Nađa Lončar</b>
    </div>
</footer>