.opening-hours {
    position: center;
    padding: 32px;
    border-radius: 20px;
}

.opening-hours ul {
    list-style: none;
}

.opening-hours ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #005a5e;
}

.opening-hours ul li span {
    display: inline-block;
    margin-left: 5px;
}


