<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(117, 197, 197, 0.5)">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Početna <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Profil<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <app-logout></app-logout>
  </div>
</nav>
<div class="container"  >
  <div class="card" style="width: 18rem;" id="adminLinks">
    <ul class="list-group" id="options" style="background-color:rgb(117, 197, 197, 0.5)">
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a href="#" routerLinkActive='active'
          [routerLink]="['/patients']">Pacijenti</a></li>
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a href="#" routerLinkActive='active'
          [routerLink]="['/calendar']">Radni kalendar</a></li>
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a href="#" routerLinkActive='active'
          [routerLink]="['/find-patient']">Nađi pacijenta</a></li>
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a href="#" routerLinkActive='active'
          [routerLink]="['/edit-old-appointment-report']">Izmeni medicinske izveštaje</a></li>
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a style="color: dodgerblue;" (click)="change()"
          routerLinkActive='active'>Zahtev za odmor</a></li>
      <li class="list-group-item list-group-item-action" style="background-color:rgb(117, 197, 197, 0.5)"><a href="#" routerLinkActive='active'
          [routerLink]="['/doctor']">Moj profil</a></li>
    </ul>
  </div>
  <div *ngIf="this.isButtonVisible">
    <app-holiday-request></app-holiday-request>
  </div>
</div>
<footer class="page-footer font-small special-color-dark pt-4">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <b>Nikola Livada, Stefan Bugarinović, Nađa Lončar</b>
  </div>
</footer>